.icon{
    background-color: #000;
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    
}

.icon-menu{
    width: 16px;
    height: 12px;
    -webkit-mask-image: url(/study/image/icon/menu.svg);
    mask-image: url(/study/image/icon/menu.svg);
}

.icon-basket{
    width: 16px;
    height: 16px;
    -webkit-mask-image: url(/study/image/icon/basket.svg);
    mask-image: url(/study/image/icon/basket.svg);
}

.icon-sign_in{
    width: 16px;
    height: 16px;
    -webkit-mask-image: url(/study/image/icon/sign_in.svg);
    mask-image: url(/study/image/icon/sign_in.svg);
}
/* ====icon utiles=================================================== */
/* ------------------------ */

@media screen and (min-width:760px) {
    .md\:icon-size\:1{
        width:var(--icon-size\:1);
    }
    .md\:icon-size\:2{
        width:var(--icon-size\:2);
    }
    .md\:icon-size\:3{
        width:var(--icon-size\:3);
    }

}
.icon-size-1{
    width: 16px;
    height: 16px;
}
.icon-size-2{
    width: 24px;
    height: 24px;
}
.icon-size-3{
    width: 32px;
    height: 32px;
}
/* ----------------icon color--------- */
.icon-color-base\:1{
    
    background-color:var( --color-base-10)
}
.icon-color-main\:1{

}
.icon-color-accent\:1{

}