.icon{
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    mask-size: cover;

    
}
.icon-basket{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background-image: url(/Project/GreendayPrj/Img/icon/basket.svg);
    mask-image: url(/Project/GreendayPrj/Img/icon/basket.svg);
}
.icon-home{
    /* margin-right: 100px; */
    width: 106px;
    height: 23px;
    background-image: url(/Project/GreendayPrj/Img/icon/logo.svg);
    mask-image: url(/Project/GreendayPrj/Img/icon/logo.svg);
}
.icon-menu{
    width: 16px;
    height: 12px;
    background-image: url(/Project/GreendayPrj/Img/icon/menu.svg);
    mask-image: url(/Project/GreendayPrj/Img/icon/menu.svg);
}
.icon-search{
    border: none;
    width: 25px;
    height: 25px;
    background-image: url(/Project/GreendayPrj/Img/icon/search.svg);
    mask-image: url(/Project/GreendayPrj/Img/icon/search.svg);
}
